@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700|Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
html{
  font-family: 'Roboto';
}

body{
  margin: 0px;
  padding: 0px;
  outline: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#corps{
  flex: 1;
}
.footer{
  height: 85px;
  display: flex;
  background-color: #455A64;
  opacity: 0.9;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}
.bas{
  width: 100%;
  margin: auto;
}
nav
{
  height: 90px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  background-color: #959F97;
  line-height: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.part{
    display: flex;
    justify-content: center;
}

div a
{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
div a:hover
{
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 575px){
  div .link{
    padding: 3px;
  }
  nav{
    height: auto;
  }
}
@media screen and (min-width: 850px)
{
  div .link
  {
    transform:scale(1);
    transition: transform 0.2s  ease-in-out;
    font-size: 18px;
    padding-bottom:5px;
  }

  div .link:hover
  {
    transform:scale(1.2);
    border-bottom:solid 2px black;
    padding-bottom:3px;
  }
  div .link.active{
    transform:scale(1.2);
    border-bottom:solid 2px black;
    padding-bottom:3px;
  }
}

.debut
{
  background-color: rgba(0,0,0,0);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Roboto';
}
.milieu{
  color: black;
  background-color:white;
  text-align:center;
  padding:100px 80px;
  text-align: justify;
}
.claudia{
  background-color: rgba(69,90,100 ,0.9);
  margin: 0;
  padding: 18px;
  letter-spacing: 7px;
  text-align: center;
}


.fond-1{
  background-image: url("../images/monnoyer3.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fond-2{
  background-image: url("../images/louvre.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fond-1, .fond-2{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fond-1 span{
  font-weight: 500;
}
.fond-1 .display-1{
  letter-spacing: 7px;
  font-weight: 200;
  text-align: center;
}
.header2 {
  display: none;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .fond-1, .fond-2{
        background-attachment: scroll;
    }
}
@media only screen and (max-device-width: 480px){
  .header{
    display: none;
  }
  .header2{
    display: flex;
  }

}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4.5px;
    background-color: white;
    margin-top: 3px; margin-bottom: 3px;
    transition: 0.4s;
		margin-right: 20px;
}
.bars{

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 75px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
