
.bgimg-1 {
  background-image: url("../images/l_t-monnoyer2.jpg");
  min-height:35vh;
}
.bgimg-1{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact{
  min-height:40vh;
  display: flex;
  align-items: center;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
#map {
 margin: 0% 0% 5% 0% ;
 height: 50vh;
 width: 100%;
 padding: 0px;
}
.map{
  padding: 0
}

.card:hover i,.card:hover h5{
	color: #26A69A;
}

#contact{
    min-height:25vh;
    display: flex;
    align-items: center;
}
#contact h1{
  letter-spacing: 7px;
  text-align: center;
}
